.BlockStyle{
    box-shadow: 2px 2px 1px 1px gray;
    border-top:15px solid seagreen;
    border-left:15px solid seagreen;
    border-bottom:15px solid gray;
    border-right:15px solid gray;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding:15px;
    margin-bottom:20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: white;
}

.DetailStyle{
    background-color: rgba(235,235,235,1);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding:5px;
    display: flex;
}

.IntroText{
    width:200px;
    margin:15px;
    padding:15px;
    text-align: center;
}

.Navbar{
    background-color: gray;
    border: 0px solid rgba(0,0,0,0);
    width:100%;
    height:40px;
    padding:0px;
    margin:0;
    position: fixed;
    top: 0px;
    left: 0px;
    display:flex;
    flex-flow: row;
    justify-content: flex-start;
    list-style-type: none;
}

.Navbar-spacer{
    height:40px;
    margin-bottom:20px;
}

.Navbar-Button-Group{
    display:flex;
    flex-flow:row;
    justify-content: flex-end;
    align-self: flex-end;
}

.Navbar-Filler{
    width:100%;
}

.NavButton{
    padding: 7px;
    margin: 0px;
    height:40px;
    width:120px;
    text-align:center;
    background-color:seagreen;
    text-decoration: none;
    color:white; 
    text-align: center;
    text-decoration: none;
}

.NavButton:hover{
    background-color: yellowgreen; 
    color: white; 
    text-decoration: none;
}

.NavButton:visited{
    color:white;
    text-decoration: none;
}

.NavButton:active{
    color:white;
    text-decoration: none;
}

.NavButton._icon {
    width:40px;
    padding:12px;
}

.NavButton._icon:hover {
    background-color: yellowgreen; 
    color: white; 
    text-decoration: none;
}

.NavButton._facebook {
    background: #3B5998;
    color: white;
}

.NavButton._twitter {
    background: #55ACEE;
    color: white;
}

.NavButton._freecodecamp {
    background: #006400;
    color: white;
    padding-left:10px;
}

.NavButton._github{
    background-color: #333;
    color: white;
}

.NavButton._linkedin{
    background-color: #0077b5;
    color: white;
}

.ProfileImage{
    max-height:250px;
    width:250px;
    margin-right: 8px;
    margin-bottom: 5px;
}

body{
    background-image: url('../src/images/forest-background.jpg');
    background-size: 100%;
}

h3{
    text-align: center;
}
p{
    text-align: center;
}

.ContentDisplay{
    width:100%;
    flex-grow: 1;
    margin-right:20px;
}

.BlogColumn{
    display: flex;
    flex-direction: column;
    margin-right:20px;
}

.BlogSection{
    width:100%;
    display: flex;
    flex-direction: row;
}

.SelectMenu{
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

.ContentButton{
    border: 0px solid white;
    width: 200px;
    height:50px;
    padding:auto;
    font-size: 14px;
}

.ContentButton:focus{
    background-color:gray;
    outline: none;
}

.SearchBar{
    width:200px;
    height:30px;
    border-radius: 25px;
    margin-bottom: 5px;
    border:1px solid gray;
    text-align: center;
}

.SearchBar:focus{
    outline:none;
}

.CaptionImage{
    max-height:250px;
    width:250px;
    margin:0px;
    display: block;
    border-radius: 46px;
}

.CaptionContainer{
    max-height:290px;
    width:260px;
    display: block;
    text-align: center;
    font-size: 10px;
    background-color: rgba(235,235,235,1);
    border-radius:50px;
    padding:5px;
    display: block;
    margin:6px;
}

.Center{
    text-align: center;
    margin:auto;
}

.ContactMe{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin:auto;
    margin-bottom:20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.InputBox{
    width:100%;
    height:30px;
    border-radius: 25px;
    margin-bottom: 5px;
    border:3px solid gray;
    background-color: rgb(245, 245, 245);
    text-align: center;
    margin:auto;
    width:70%;
}

.ContentInput{
    height:240px;
    width:100%;
}

.SubmitButton{
    width:60%;
    height: 30px;
    border-radius: 25px;
    background-color: seagreen;
    color: white;
    display: inline-block;
    margin:auto;
    margin-top:5px;
}

.SubmitButton:focus{
    background-color: yellowgreen;
}

.GameButton{
    width:400px;
    height:30px;
    margin:auto;
    border-radius: 25px;
    color:white;
    background-color:seagreen;
    display:block;
    text-align: center;
    float:center;
}

.GameButton:hover{
    background-color:yellowgreen;
    text-decoration: none;
    color:white;
}

.GameButton:visited{
    color:white;
    text-decoration: none;
}

.Left{
    float: left;
}

.Right{
    float: right;
}
